<p id="notice"><%= notice %></p>

<h1>Cocktails</h1>

<table>
  <thead>
    <tr>
      <th>What cocktail would you want to check?</th>
    </tr>
  </thead>
<br>
<br>
  <tbody>
  <tr></tr>
  <tr></tr>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td> - <%= cocktail.name.capitalize %></td>
        <td><%= link_to '  Show', cocktail %> | <%= link_to '  Edit', edit_cocktail_path(cocktail) %> | <%= link_to '  Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a new Cocktail', new_cocktail_path %>
