<p id="notice"><%= notice %></p>

  <h1 style = justify-center > <strong> The composition of a <%= @cocktail.name.capitalize %></strong> </h1>
  </br>

  <% @cocktail.doses.each do |dose|%>
   <p> <%= dose.description %> of
    <%= dose.ingredient.name %></p>
    <p> params : <%= params %> </p>
    <%= link_to 'Delete', dose_path(dose.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%end%>

</p>

<%= link_to 'Edit the name', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Add a new ingredient and its dose',new_cocktail_dose_path(@cocktail.id) %> |
<%= link_to 'Go back to the view', cocktails_path %>

